scripts/f2py
scripts/f2py3
scripts/f2py3.10
scripts/image-similarity-measures
scripts/imageio_download_bin
scripts/imageio_remove_bin
scripts/lsm2bin
scripts/pbr
scripts/skivi
scripts/tiff2fsspec
scripts/tiffcomment
scripts/tifffile
scripts/virtualenv
scripts/virtualenv-clone
scripts/virtualenvwrapper.sh
scripts/virtualenvwrapper_lazy.sh
scripts/lvim
scripts/UTscapy
scripts/colorz
scripts/scapy
.config/zathura/.zathura-light

